<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div style="color: green; background-color: antiquewhite;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor rerum eum iusto esse praesentium reiciendis quos, exercitationem accusamus neque mollitia nostrum, velit hic ducimus. Vero dolorem ipsam quia exercitationem deserunt!
    </div>

    <div>
        <!-- Name: <%= data.name %> -->
    </div>
    <!-- <div>
        Email : <%= data.email %>
    </div>
    <div>
        Phone No: <%= data.phNo %>
    </div> -->
    <!-- <ul>
     <%= data.hobbies.forEach(item=>{ %>
        <% =<li>item</li>%>
        <%=  }) %>
    </ul> -->
</body>
</html>